body{
    background-image: url(/img/background_contactoGeneral.png);
    background-repeat: repeat-x;
    background-position: center;
    
}

#linkCabecera{
    color: #fff;
    margin-left: 40px;
}

.formulario{
    padding: auto;
    margin: 10%;
    color: #fff;
    text-align: center; 
}
