
body{
    background-image: url(/img/background_index.jpg);
    background-repeat:repeat;
    background-attachment: fixed;
}
/* CABECERA */
.division-header{
    margin: 80px 0px 0px 0px;
}

.navbar{
    background-color: #fff;
}

#linkCabecera{
    color: #000000;
    margin-left: 40px;
}

/* CAROUSEL */
.carousel{
    margin: 0px 50px 0px 50px;
}

/* CARTAS */
.card{
    background: transparent;
    color: #fff; 
}

a{
    height: 40px;
}

#card1:hover,#card2:hover,#card3:hover,#card4:hover,#card5:hover,#card6:hover{
    opacity: 0.8;
    background-color: black;
}

.card-group a{
    width: 300px;
    height: 300px;
    opacity: 0;
    align-self: center;
    position: absolute;
}