body{
    background-image: url(/img/background_publicacion.png);
    background-attachment: fixed;
    color: #fff;
}

/* CABECERA */
.division-header{
    margin: 80px 0px 0px 0px;
}

.navbar{
    background-color: #fff;
}

#linkCabecera{
    color: #000000;
    margin-left: 40px;
}

h2{
    text-align: center;
}

button .compra:hover{
    background-color:#f0f40e;
}

a{
    height: 40px;
}
