header{
    position:absolute;
    margin-bottom: 1770px;
}

body{
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/register\ hd.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

h5{
    color:#fff;
    display: inline;
    justify-content: center;
    align-items: center;
    font-family: serif;   
    text-align:justify;
    text-shadow: 1px 1px black;
    margin-left: 50px;
    
}

/* ANIMACION DE REGISTER */
#ingresos{
    display: flex;
    justify-content: center center;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    color: black;
    text-decoration: none;
    
}

.borde{
    margin-top: 600px;
    margin-left: 600px;
    margin-bottom: 600px;
    margin-right: 600px;
    padding: 100px;
    box-shadow: 10px 100px 500px 200px rgb(190, 123, 15);
    display: flex;
    
}

.borde:hover{
    opacity: 0.9;
    box-shadow: 10px 100px 500px 200px rgb(190, 123, 15);
    
}

.login{
    color: #3ecc02fe;
    font-weight: bold;
}

/* ANIMACION DE BOTON */
.btn-neon{
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 0px;
    margin-right: 250px;
    position:sticky;
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    animation: mymove 1s infinite; 
    
}

@keyframes mymove {
    /* 1% {color: white} */
    30% {color: rgb(207, 2, 2)}
    50% {color: rgb(255, 136, 0);}
    70% {color: green}
    80% {color: rgb(246, 255, 0);}
    /* 100% {color: black} */
  }

.btn-neon:hover{
    background: #e4421d;
    box-shadow: 0 0 10px #e4421d, 0 0 40px #e4421d,
    0 0 80px #e4421d;
    transition-delay: 1s;
}

.btn-neon span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#e4421d);
}

.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}

#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#e4421d);
}

.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#e4421d);
}

.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#e4421d);
}

.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}